/* FORMATO DE ESPACIADO REINICIADO PARA ELIMINAR EL DE LOS NAVEGADORES */

*{
	margin: 0;
	padding: 0;
}

/* FORMATO DE BODY */

.cuerpo{
	background-color: #fccce4;
	font-family: "Times New Roman";
	font-size: 25px;
	margin: 40px;
}

/* FORMATO DE DIV DEL MENÚ */

.menu{
	margin-left: auto;
	margin-right: auto;
	width: 770px;
	height: 50px;
	background-color: #f6e1c0;
	overflow: hidden;
	padding: 20px;
	border-radius: 20px 20px 20px 20px;
	font-size: 40px;	
}

/* FORMATO DE DIV DEL MARCADOR */

.marcador{
	width: 180px;
	height: 28px;
	background-color: white;
	overflow: hidden;


	border: 3px solid black;
	text-align: right;
}

/* POSICION DE ENLACES DEL MENÚ */

.izquierda{
	text-align: left;
	margin-left: 20px;
}

.centro{
	margin-left: 50px
}

.derecha{
	margin-left: 50px;
	margin-right: 30px;
}

/* INDEXACIÓN UL */

ul{
	margin-left: 50px;
}

/* INDEXADOS ESPECIALES */

.indentado{
	margin-left: 50px;
}

.indentado1{
	margin-left: 15px;
}

/* FORMATO BOTON */

.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    margin-left: 20px;	
    margin-bottom: 20px;
}

/* FORMATO DEL CUADRO DE ACERCA DE... */

.cuadro{
	margin: auto;
	margin-top: 100px;
	width: 380px;
	height: 70px;
	background-color: white;
	overflow: hidden;
	padding: 40px;

	border: 3px solid black;
	text-align: center;
}

